# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:

- List popular languages for Data Science.
- Introduce common libraries used in Data Science.
- List the tools for Data Science.
- Provide examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
    
1. Sckit-learn
2. Seaborn
3. Matplotlib
4. Numpy
5. Pandas
6. plotly
7. SciPy
8. TensorFlow
9. PyTorch
10. Keras
11. Statsmodels

| Data Science Tools |
 -----------------------
| Jupyter Notebook        |
| Google Colab            |
| RStudio                 |
| PyCharm                 |      
| Zeppelin                |         
| Databricks              |

### Below are a few examples of evaluating arithmetic expressions in Python :

1. Addition: '2 + 3 = 5'
2. Subtraction: '12 - 6 = 6'
3. Multiplication: '4 * 2 = 8'
4. Division: '18 / 2 = 9'
5. Exponentiation: '4 ** 2 = 16'
6. Modulus: '10 % 3 = 1'

In [2]:
##This a simple arithmetic expression to mutiply then add integers.
print((3*4)+5)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.
print(200/60)

3.3333333333333335

## Author
Harika Boyina